.DeckPage {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.DeckHeaderWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.DeckPageHeader {
    align-self: flex-start;
    margin: 20px 0;
    color: white;
}

.DeckCardsCount {
    font-size: 25px;
    margin-left: 50px;
    color: var(--border-color);
}

.DeckPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SaveDeckButton {
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    background-color: var(--secondary-color);

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        background-color: gray;
        color: var(--border-color)
    }
}