.DeckPage {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.DeckPageHeader {
    margin: 20px;
    color: white;
}

.DeckContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardsContainer {
    width: 73vw;
    display: flex;
    justify-content: space-around;
    color: white;
}

.OrdinaryCardsContainer,
.EliteCardsContainer {
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
}


.OrdinaryCardsHeader,
.EliteCardsHeader {
    color: var(--secondary-color)
}

.CardsWrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}