.DeckPage {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

.DeckHeaderWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.DeckPageHeader {
    align-self: flex-start;
    margin: 20px 0;
    color: white;
}

.DeckCardsCount {
    font-size: 25px;
    margin-left: 50px;
    color: var(--border-color);
}

.DeckPageWrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1000px) {
    .DeckPageWrapper {
        width: 65vw;
    }
}

@media (max-width: 810px) {
    .DeckCardsCount {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .DeckPageHeader {
        // font-size: 27px;
        margin-left: 20px;
    }

    .DeckCardsCount {
        font-size: 18px;
        margin: 10px;
    }
}

@media (max-width: 700px) {
    .DeckPage {
        justify-content: center;
    }

    .DeckHeaderWrapper {
        width: 100vw;
    }
}
