.ModalButton {
    margin: 10px auto 0;
    font-weight: bold;
    height: 40px;
    width: 350px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    grid-area: button;
    justify-self: center;
}

.grayButton {
    background-color: rgb(169, 165, 165);
}

@media (max-width: 600px) {
    .ModalButton {
        width: 250px;
    }
}

@media (max-width: 400px) {
    .ModalButton {
        width: 200px;
    }
}
