.FormWrapper {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.ButtonsWrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: -35px 0 30px;
}

.changeFormButton,
.PasswordResetButton {
    text-align: center;
}

.changeFormButton:hover,
.PasswordResetButton:hover {
    cursor: pointer;
}

.PasswordResetButton {
    color: var(--secondary-color);
}

.Form {
    display: grid;
    height: 100%;
    grid-template-areas:
        'header'
        'header'
        'inputs'
        'inputs'
        'remember'
        'buttons'
        'buttons';
}

.FormHeader {
    grid-area: header;
    text-align: center;
}

.inputsWrapper {
    position: relative;
    width: 100%;
    padding-left: 10%;
    justify-self: center;
    grid-area: inputs;
    display: flex;
    flex-direction: column;
    gap: 10%; // justify-self: center;
}

.ButtonWrapper {
    margin-top: 10%;
    grid-area: buttons;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redAlert,
.longRedAlert {
    color: red;
    position: absolute;
    bottom: -16px;
    font-weight: 200;
    font-size: 14px;
}

@media (max-width: 600px) {
    .modal {
        top: 15%;
        left: 15%;
        right: 15%;
        bottom: 15%;
    }
}

@media (max-width: 500px) {
    .modal {
        left: 10%;
        right: 10%;

        span {
            font-size: 18px;
        }
    }
}

@media (max-width: 450px) {
    .modal {
        span {
            font-size: 16px;
        }
    }
}

@media (max-height: 668px) {
    .ButtonsWrapper {
        margin-top: 10px;
    }
}
