.GameField {
    position: relative;
    display: flex;
    gap: 10px;
}

.MainField {
    background-position: center;
    background-size: 185%;
    width: calc(94vh / 6 * 5);
    height: 94vh;
    border-radius: 30px;
    overflow: hidden;
    border: 3px solid black;
}

.GameFieldRow {
    width: 100%;
    height: calc(43.5vw / 6);
    display: flex;

    &:nth-child(3) {
        box-sizing: border-box;
        overflow: hidden;

        .GameFieldCell {
            border-bottom: none;
        }
    }

    .GameFieldCell:last-child {
        border-right: none;
    }
}

.GameFieldCell {
    width: calc(94vh / 6);
    height: calc(94vh / 6);
    box-sizing: border-box;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.SideColumn {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .GameFieldCell {
        border: 1px solid var(--border-color);
        border-radius: 30px;
        color: var(--border-color);
    }
}

.GameFieldHalf {
    background: url('../../../assets/images/pole.jpg');
    background-position: center;

    &:first-child {
        transform: scaleY(-1);
        border-top: 3px solid black;
    }
}

.blocked {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid black;
}
