.AccountEditForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 10%;
    right: 0;
    left: 0;
    justify-content: center;
    gap: 30px;
    align-items: center;

    label {
        width: 70%;
        margin-left: 30px;
        gap: 5px;
    }
}

.FormHeader {
    text-align: center;
    margin: -100px 0 0;
}

@media (max-width: 600px) {
    .modal {
        top: 15%;
        left: 15%;
        right: 15%;
        bottom: 15%;
    }
}

@media (max-width: 500px) {
    .modal {
        left: 10%;
        right: 10%;

        span {
            font-size: 18px;
        }
    }
}

@media (max-width: 450px) {
    .modal {
        span {
            font-size: 16px;
        }
    }
}

@media (max-height: 668px) {
    .AccountEditForm {
        padding: 25px 0 0 0;
    }
}
