.burger {
    width: 23px;
    height: 15px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.5s;
    z-index: 50;
}

.burgerLine {
    width: 100%;
    height: 1px;
    background-color: white;
}

.burgerTapped {
    transform: rotate(90deg);
}

@media (max-width: 600px) {
    .burger {
        display: flex;
    }

    .layout {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 30;
        background-color: rgb(0, 0, 0, 0.5);
    }
}
