.ImageInput {
    input {
        display: none;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: -20px 0 0;
}

.userImage {
    width: 110px;
    height: 110px;
}

.imageContainer {
    overflow: hidden;
    width: 110px;
    height: 110px;
    border-radius: 100px;
    position: relative;
}

.avatarLabel {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 70%;
    right: 0;
    left: 0;
    width: auto !important;
    margin: 0 !important;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatarLabel:hover {
    cursor: pointer;
}

.cameraImage {
    width: 20px;
    height: 20px;
}

.deleteAvatar {
    color: var(--secondary-color);

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
