.Form {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.FormHeader {
    text-align: center;
    margin: -50px 0 0;
}

.PasswordInputs {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 120%;
}

.modal {
    top: 20%;
    bottom: 20%;
}
