.AccountEditForm {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 10%;
    right: 0;
    left: 0;
    justify-content: center;
    gap: 30px;
    align-items: center;

    label {
        width: 70%;
        margin-left: 30px;
        gap: 5px;
    }
}

.FormHeader {
    text-align: center;
    margin: -100px 0 0;
}

.FormButton {
    margin: 25px auto -20px;
    font-weight: bold;
    height: 40px;
    width: 350px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    grid-area: button;
    justify-self: center;
}