.FormLabel {
    position: relative;
    color: var(--primary-color);
    width: 90%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.FormInput {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(236, 229, 229);
    height: 30px;
    width: 87%;
    border-radius: 4px;
    border: none;
    font-size: 17px;
}

.FormInput:focus {
    outline: none;
    border-bottom: 2px solid black;
    transition: border-bottom 0.07s ease-in;
}

.rememberLabel {
    margin-left: 5%;
    height: 20px;
    font-weight: bold;
    grid-area: remember;
    display: flex;
    align-items: center;
}

.rememberInput {
    display: none;
}

.red {
    color: red;
    font-weight: normal;
}

.redAlert,
.longRedAlert {
    color: red;
    position: absolute;
    bottom: -16px;
    font-weight: 200;
    font-size: 14px;
}

.longRedAlert {
    bottom: -35px;
}

.checkboxImage {
    width: 25px;
    margin-right: 5px;
}

.checkboxAnimated {
    animation: circleTran 1s ease-out;
}

.inputContainer {
    display: flex;
    gap: 10px;

    span {
        height: 30px;
        width: 87%;
        text-align: center;
        font-size: 20px;
        border-bottom: 2px solid black;
        box-sizing: border-box;
    }
}

.inputImage {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.inputImage:hover {
    cursor: pointer;
}

.inputImage.clicked {
    animation: circleTran linear 0.4s normal none infinite running;
}

@keyframes circleTran {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 500px) {
    .inputContainer span {
        font-size: 16px;
    }
}
