.ErrorWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    justify-content: center;
}

.ErrorModalHeader {
    margin: 0 0 15px;
    font-size: 30px;
    font-weight: bold;
}

.ErrorImage {
    width: 10vw;
}

.ErrorText {
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}

.modal {
    top: 20%;
    bottom: 20%;
}

@media (max-width: 1200px) {
    .ErrorImage {
        width: 15vw;
    }
}

@media (max-width: 800px) {
    .ErrorImage {
        width: 20vw;
    }
}

@media (max-width: 500px) {
    .ErrorImage {
        width: 30vw;
    }
}
