.DecksContainer {
    margin: 0 auto;
    border: 2px solid var(--border-shadow-color);
    max-width: 1380px;
    width: 75vw;
    border-radius: 50px;
}

.DecksHeaderWrapper {
    padding: 15px 30px;
    border-bottom: 2px solid var(--border-shadow-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderWrapper {
    display: flex;
    align-items: center;
    gap: 30px;
}

.DecksHeader {
    font-size: 30px;
    color: var(--border-color);
}

.DecksCount {
    margin-top: 6px;
    color: var(--border-color);
}

.DecksWrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 25px;
}

.NoDecks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddButton {
    border: none;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 15px;
}

.AddButton:hover {
    cursor: pointer;
}

.NoDecksContent {
    text-align: center;
    font-size: 20px;
    color: var(--border-color);
}

@media (min-width: 1833px) {
    .DecksWrapper {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 1500px) {
    .DecksContainer {
        width: 90vw;
    }
}

@media (max-width: 1200px) {
    .DecksWrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1050px) {
    .DecksWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 750px) {
    .DecksWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .DecksWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .DecksHeader {
        font-size: 20px;
    }

    .DecksCount {
        font-size: 16px;
    }

    .HeaderWrapper {
        gap: 10px;
    }

    .AddButton {
        font-size: 20px;
    }
}
