@import 'variables/global';
@import 'reset';

@font-face {
    font-family: 'Sans';
    src: url('../../shared/assets/fonts/PT Sans/PTSans-Regular.ttf'),
        url('../../shared/assets/fonts/PT Sans/PTSans-Bold.ttf'),
        url('../../shared/assets/fonts/PT Sans/PTSans-Italic.ttf'),
        url('../../shared/assets/fonts/PT Sans/PTSans-BoldItalic.ttf');
}

.dark-mode-toasts-container {
    .Toastify__toast {
        background-color: #333;
        color: #fff;
    }

    .Toastify__toast-body {
        color: #fff;
    }
}
