html {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: Sans;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: var(--dark-primary-color);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 10px;
    background-color: var(--secondary-color);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: var(--dark-primary-color);
}
