.CookieModal {
    padding: 120px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.CookieModalHeader {
    margin-bottom: 50px;
}

.CookieSvg {
    width: 200px;
}
