.SearchbarCardItem {
    position: relative;
    padding: 0 10px 0 0;
    background-color: var(--primary-color);
    border: 1px solid var(--border-shadow-color);
    border-radius: 20px;
    width: 93.7%;
    display: flex;
    // overflow: hidden;
    gap: 5px;

    &:hover {
        border: 1px solid var(--secondary-color);
    }
}

.CardInfo {
    padding: 10px 0;
    display: flex;
    gap: 10px;
}

.CardName,
.CardPrice {
    color: white;
    display: flex;
}

.CardName {
    gap: 12px;
    width: 200px;
}

.AddButton {
    border-radius: 20px 0 0 20px;
    width: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.AddButtonImage {
    width: 80%;
}

.plusButton:hover {
    cursor: pointer;
    height: 100%;
    background-color: var(--border-shadow-color);
}