.GamePageContentWrapper {
    // padding: 10px;
    display: flex;
    justify-content: space-between;
}

.GamePageContent {
    margin: 20px;
    display: flex;
}

.GameProcessWrapper {
    width: 64vw;
}

.GamePageHeader {
    margin: 0;
    color: white;
}