.Chat {
    height: 100vh;
    width: 20vw;
    background-color: black;
    border-left: 5px solid rgb(45, 43, 43);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ChatMessagesWrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 93%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;

    &::-webkit-scrollbar {
        width: 4px;
        background-color: var(--dark-primary-color);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        height: 10px;
        background-color: var(--secondary-color);
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: var(--dark-primary-color);
    }

    &.reversedFlex {
        flex-direction: column-reverse;
    }
}

.ChatMessages {
    height: auto;
}

.ChatInput {
    position: relative;
    box-sizing: border-box;
    background-color: white;
    height: 35px;
    width: 75%;
    border-radius: 4px;
    border: none;
    font-size: 17px;

    &:focus {
        outline: none;
        border-bottom: 2px solid black;
        transition: border-bottom 0.07s ease-in;
    }
}

.ChatMessage {
    display: flex;
    flex-direction: column;
    color: white;
    // width: 95%;
    padding: 1px 8px 2px;
    background-color: rgb(80, 78, 78);
    border: 1px solid rgb(75, 74, 74);
}

.MessageContent {
    margin: 0;
    width: 100%;
    word-wrap: break-word;
}

.MessageTime {
    font-size: 10px;
    align-self: flex-end;
    color: var(--border-shadow-color);
}

.ChatMessageUserName {
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.SendMessageWrapper {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: rgb(45, 43, 43);
}

.SendMessageButton {
    margin-top: -5px;
    border: none;
    padding: 4px;
    border-radius: 5px;
    width: 60px;
    font-size: 10px;
    font-weight: bold;
    background-color: var(--secondary-color);
    box-shadow: 0 6px var(--shadow-secondary-color);
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        transform: translateY(2px);
        box-shadow: 0 4px var(--shadow-secondary-color);
    }

    &:active {
        transform: translateY(6px);
        box-shadow: none;
    }
}

.ScrollButton {
    position: fixed;
    width: 65px;
    height: 65px;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    border-radius: 40px;
    bottom: 70px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}

.arrowImage {
    width: 30px;
    transform: rotate(180deg);
}
