:root {
    --primary-color: #000e1a;
    --dark-primary-color: #000910;
    --primary-shadow-color: #011527;
    --secondary-color: rgb(222, 178, 102);
    --dark-secondary-color: #e7b050;
    --shadow-secondary-color: rgb(222, 178, 102, 0.85);

    --border-color: rgb(171, 168, 168);
    --border-shadow-color: rgb(171, 168, 168, 0.5);
}
