.ProfilePill {
    position: relative;
    user-select: none;
    padding: 3px 7px;
    display: flex;
    font-family: Sans;
    color: white;
    align-items: center;
    gap: 20px;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
}

.ProfilePill:hover {
    cursor: pointer;
    border-color: gray;
    transition: border 0.1s;
}

.userImageContainer,
.userChangeIconContainer {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    overflow: hidden;
}

.userChangeIconContainer {
    background-color: rgb(0, 0, 0, 0.1);
}

.userImage,
.exitIcon,
.userChangeIcon {
    width: 30px;
    height: 30px;
}

.dropdownUserMenu {
    position: absolute;
    top: calc(100% + 2px);
    right: 1px;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 15vw;
    overflow: hidden;
    align-items: center;
}

.dropdownUserMenu span {
    width: 100%;
    padding: 5px 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.dropdownUserMenu span:first-child {
    border-bottom: 0.1px solid rgb(222, 178, 102, 0.3);
}

.dropdownUserMenu span:hover {
    background-color: var(--primary-shadow-color);
}

@media (max-width: 900px) {
    .dropdownUserMenu {
        width: 20vw;
    }
}

@media (max-width: 800px) {
    .dropdownUserMenu {
        width: 25vw;
    }
}

@media (max-width: 600px) {
    .dropdownUserMenu {
        width: 35vw;
    }
}
