.EmailForm {
    padding: 0 30px 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 10%;
    right: 0;
    left: 0;
    justify-content: center;
    gap: 30px;
    align-items: center;
    color: black;

    label {
        width: 90%;
        margin-left: 30px;
        gap: 5px;
    }
}

.FormHeader {
    text-align: center;
    margin: -100px 0 0;
}

.modal {
    top: 20%;
    bottom: 20%;
}
