.CardModal {
    // width: 60vw;
    background-color: var(--primary-color);
    border: 2px solid var(--border-color);
}

.CardModalContent {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.CardImageWrapper {
    height: 300px;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    overflow: hidden;
}

.CardImage {
    width: 212px;
}

.CardHeader {
    text-align: center;
    margin: 0 0 10px;
    color: white;
}

.CardAmountButtonsWrapper {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.CardAmountButton {
    padding: 5px;
}

.CardAmountButton,
.DeleteCardButton {
    width: 20vw;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    border: 2px solid var(--border-shadow-color);
    border-radius: 10px;
}

.trashCanImage {
    width: 4.5vw;
}

@media (max-width: 600px) {
    .CardImage {
        width: 210px;
    }
}

@media (max-width: 500px) {
    .CardModal {
        left: 10%;
        right: 10%;
    }

    .CardImage {
        width: 215px;
    }
}

@media (max-width: 470px) {
    .CardImage {
        width: 210px;
    }
}

@media (max-width: 450px) {
    .CardImage {
        width: 210px;
    }
}

@media (max-width: 400px) {
    .CardImage {
        width: 210px;
    }
}
