.wrapper {
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    z-index: 900;
}

.Modal {
    font-family: 'Sans';
    position: absolute;
    max-height: 565px;
    max-width: 500px;
    top: 10%;
    bottom: 10%;
    left: 35%;
    right: 35%;
    z-index: 1000;
    // flex-direction: column;
    // align-items: center;
    background-color: mintcream;
    border: 1px black;
    border-radius: 50px;
}

.opened {
    animation: open 0.3s;
}

.closed {
    animation: close 0.4s;
}

.animated {
    animation: tran 0.7s;
}

.crossImage {
    position: absolute;
    top: 6%;
    right: 8%;
    width: 30px;
    height: auto;
    cursor: pointer;
}

@keyframes close {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100vh);
    }
}

@keyframes open {
    from {
        transform: translateY(-100vh);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes tran {
    0% {
        transform: translateX(0);
    }

    49% {
        transform: translateX(-100vw);
    }

    50% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 1300px) {
    .Modal {
        left: 30%;
        right: 30%;
    }
}

@media (max-width: 978px) {
    .Modal {
        left: 25%;
        right: 25%;
    }
}

@media (max-width: 768px) {
    .Modal {
        left: 20%;
        right: 20%;
    }
}

// @media(max-width: 600px) {
//     .Modal {
//         left: 20%;
//         right: 20%;
//         bottom: 30%;
//     }
// }

// @media(max-width: 500px) {
//     .Modal {
//         top: 15%;
//         left: 20%;
//         right: 20%;
//     }
// }

@media (max-width: 600px) {
    .modal {
        top: 15%;
        left: 15%;
        right: 15%;
        bottom: 15%;
    }
}

@media (max-width: 500px) {
    .modal {
        left: 10%;
        right: 10%;
    }
}

@media (max-width: 400px) {
    .Modal {
        left: 3%;
        right: 3%;
    }
}

@media (min-width: 1800px) {
    .Modal {
        left: calc((100% - 500px) / 2);
        right: calc((100% - 500px) / 2);
    }
}
